.form-field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}

.select-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.textarea-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
    resize: vertical;
    /* Permite redimensionar verticalmente o textarea */
    min-height: 100px;
    /* Altura mínima do textarea */
}

.button {
    margin-top: 20px;
}